.todo-main {
    display: flex;
    width: 700px;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 3rem;
}

.todo-list-wrapper{
  padding-top: 1rem;
  padding-bottom: 3rem;
  font-size: 2rem;
}

.todo-list {
    cursor: pointer;
    padding-right: 3rem;
}

.todo-list:hover {
    background-color: grayscale($color: #a0a0a0)
}

.todo-list-item {
}

.todo-list-item.checked{
    background: linear-gradient(transparent 40%, #777770 70%);
}

.todo-list-button{
    float:right;
}

.todo-list-delete {
    color: red !important;
}

.todo-list-checker {
}

